<!DOCTYPE html>
<html lang="en">

<head>
    <title>R D E S</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="images/systemweb/Logo.png">
    <link rel="stylesheet" href="careersStyle.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <div id="navbar"></div>

    <main>

     <div class="career-box">
        <h1>Careers</h1>
        <p>
            Join our team and be part of an innovative company that is shaping the future of technology. 
            We are looking for talented individuals who are passionate about making a difference.
        </p> 
     </div>                      

    
    <div class="career-container">
    <div class="career-card">
        <h3>Software Engineering</h3>
        <img src="/App/src/view/images/news/software.jpg" alt="Software Engineering">
        <p>Our software engineers are the architects of our solutions. They design, build, and maintain the applications that power our services. 
            From front-end interfaces to back-end systems, they ensure that our technology is robust, scalable, and user-friendly.</p>
    </div>
    <div class="career-card">
    <h3>Data Engineering</h3>

    <img src="/App/src/view/images/news/business.jpg" alt="Data Engineering">

    <p>
        Our data engineers build the backbone of everything we do. From designing scalable pipelines to integrating complex data sources,
        they ensure that information flows reliably and efficiently.
         We turn raw data into structured, high-quality assets ready to power decisions and innovation.
    </p>
</div>

<div class="career-card">
        <h3>Data Science & AI</h3>
        <img src="/App/src/view/images/news/data.jpg" alt="Data Science & AI">
        <p>Data is only valuable when it drives insight. Our data scientists and AI specialists transform data into predictive models, intelligent systems, and actionable strategies. 
            From machine learning to advanced analytics, we help businesses anticipate the future and make smarter decisions.</p>
    </div>

    <div class="career-card">
        <h3>Business Analytics</h3>
        <img src="/App/src/view/images/news/it.jpg" alt="Data Science & AI">
        <p>We connect data to real business impact. Our analytics teams translate numbers into clear insights, dashboards, and strategies that guide growth.
             By combining business knowledge with data expertise, we empower organizations to act with confidence and precision.</p>
    </div>
</div>

    <div class="career-text">
        <h3 class="mt-5">Join Our Talent Pool</h3>
        <p>We currently do not have any open positions, but we encourage you to submit your resume and cover letter to <a href="mailto:careers@rdes.com">careers@rdes.com</a> to be considered for future opportunities.</p>

    </div>
    </main>
     <div id="footer"></div>
        <script src="/App/src/view/js/_navbar.js"></script>
        <script src="/App/src/view/js/footer.js"></script>
</body>
</html>