<!DOCTYPE html>
<html lang="en">

<head>
    <title>R D E S</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="images/systemweb/Logo.png">
    <link rel="stylesheet" href="index_classes.css">
</head>

<body class="textStyle d-flex flex-column min-vh-100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="images/systemweb/Logo.png" width="120">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            WHO WE ARE
                        </a>
                        <ul class="dropdown-menu" id="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="navbarpages/who_we_are_pages/about_us.html">ABOUT US</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="navbarpages/who_we_are_pages/investors.html">INVESTORS</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="navbarpages/who_we_are_pages/media.html">MEDIA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="navbarpages/careers.html">CAREERS</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="navbarpages/who_we_are_pages/inclusion.html">INCLUSION</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-4" href="navbarpages/what_do_we_do.html">
                            WHAT DO WE DO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-4" href="navbarpages/careers.html">
                            CAREERS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-4" href="navbarpages/become_customer.html">
                            BECOME A CUSTOMER
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>

    </header>

    <main class="flex-grow-1">
        <div class="container py-4">
        </div>
    </main>
    
    <footer class="bg-light text-dark text-left py-4 pb-1 mt-auto">
        <div class="container">
            <div class="row justify-content-around">

                <div class="col-md-3">
                    <h5>RDES</h5>
                    <p>Robust Data Engineering Solutions focused on scalable data systems.</p>
                </div>

                <div class="col-md-auto">
                    <h5>Links</h5>
                    <ul class="">
                        <li><a href="index.html" class="text-dark text-decoration-none">Home Page</a></li>
                        <li><a href="navbarpages/who_we_are_pages/about_us.html" class="text-dark text-decoration-none">About us</a></li>
                        <li><a href="navbarpages/careers.html" class="text-dark text-decoration-none">Careers</a></li>
                        <li><a href="navbarpages/become_customer.html" class="text-dark text-decoration-none">Become a customer</a></li>
                    </ul>
                </div>

                <div class="col-md-auto">
                    <h5>Contact</h5>
                    <ul>
                        <li>Email: contact@rdes.com</li>
                        <li>Phone: +55 19 99999-9999</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>